<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bfmapp">

    <uses-permission android:name="android.hardware.camera2.full" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofour"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SavedPostsActivity"></activity>
        <activity android:name=".Activities.YourQrCodeActivity" />
        <activity android:name=".Activities.FilterArtistActivity" />
        <activity android:name=".Activities.YourActivitySettingActivity" />
        <activity android:name=".Activities.RequestVerificationSActivity" />
        <activity android:name=".Activities.DeleteAccountSettingActivity" />
        <activity android:name=".Activities.PrivacySettingActivity" />
        <activity android:name=".Activities.AboutSettingActivity" />
        <activity android:name=".Activities.NotificationSettingActivity" />
        <activity android:name=".Activities.LinkedAccountSActivity" />
        <activity android:name=".Activities.AccountSettingActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.SinglePostActivity" />
        <activity android:name=".Activities.ProposalsActivity" />
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.CreateProposalActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.ExploreActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".Activities.FinalSearchActivity" />
        <activity android:name=".Activities.SearchArtistActivity" />
        <activity android:name=".OtherUsersProfileActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity
            android:name=".Activities.LikesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.SelectedGroupUsersActivity" />
        <activity android:name=".Activities.SelectGroupUsersActivity" />
        <activity android:name=".Activities.NewChatActivity" />
        <activity android:name=".Activities.ChatMessagesActivity" />
        <activity android:name=".Activities.ChatUsersActivity" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activities.CreatePostActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.UsersSeeProfileActivity" />
        <activity
            android:name=".Activities.EditUserProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.UserProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.TimelinepostActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activities.OtpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.AddInfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.SelectCategoryActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SideBarActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>